.dropZone {
  color: white;
  padding: 8px;
  border: 5px dashed lightgrey;
  background-color: black;
  width: 400px;
}

.result {
  white-space: pre-line;
}

.rekordbox {
  margin: 0 8px;
}

.manual {
  margin: 16px;
}
