.dropZone {
  margin: 0 auto;
  color: white;
  padding: 8px;
  border: 5px dashed lightgrey;
  background-color: black;
  width: 400px;
}

.rekordbox {
  margin: 0 8px;
}

.manual {
  margin: 16px;
}

.result {
  width: 100%;
  white-space: pre-line;
}

.canvas {
  display: block;
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.outputContainer {
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 16px;
}

.outputText {
  width: 100%;
  max-width: 100%;
}

.github {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 16px;
  right: 16px;
}
